.vs
x64
alg_lab1/alg_lab1.vcxproj.user
alg_lab1/alg_lab1.vcxproj
alg_lab1/alg_lab1.vcxproj.filters
alg_lab2/alg_lab2.vcxproj.user
alg_lab2/alg_lab2.vcxproj
alg_lab2/alg_lab2.vcxproj.filters
alg_lab1_encoding/alg_lab1_encoding.vcxproj.user
alg_lab1_encoding/alg_lab1_encoding.vcxproj
alg_lab1_encoding/alg_lab1_encoding.vcxproj.filters
alg_lab2_compress/alg_lab2_compress.vcxproj.user
alg_lab2_compress/alg_lab2_compress.vcxproj
alg_lab2_compress/alg_lab2_compress.vcxproj.filters
alg_lab2_compress/test
alg_lab2_compress/koef
/
